{% extends 'blog/base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
<button type="button" onclick="history.back();" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
</button><br>
<div class="card mb-3" style="max-width: 640px;">
  <img src="{{ object.img_article.url }}" class="card-img-top" alt="photo">
  <div class="card-body">
    <h5 class="p-2 mb-1 bg-light text-dark">{{ object.title }}</h5>
    <p class="p-2 mb-1 bg-white text-dark">{{ object.text }}</p>
      <div class="media">
            <div>
                <img src="{{ object.avtor.profile.img_profile.url }}" alt="{{ object.avtor }}" class="user_images">
            </div>
        <div class="mt-2">
            <span class="text-muted">Публикация: {{ object.date|date:"d E Y в H:i" }}</span>
            <p><b>Автор:</b> <a href="">{{ object.avtor }}</a></p>
        </div>
      </div>
      {% if object.avtor == user %}
          <hr>
          <a href="{% url 'news-update' object.id %}" class="btn btn-info">Обновить статью</a>
          <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Удалить статью</a>
      {% endif %}
  </div>


</div>
{% endblock %}

{% block aside_block %}
<h3 class="mt-2 mb-3">Интересные статьи</h3>
{% endblock %}
