{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h2>Все статьи от автора {{ view.kwargs.username }}</h2>
<h3>Количество: {{ page_obj.paginator.count }}</h3>
{% for new in news %}
<div class="card mb-3" style="max-width: 640px;">
  <img src="{{ new.img_article.url }}" class="card-img-top" alt="photo">
  <div class="card-body">
    <h5 class="p-2 mb-1 bg-light text-dark">{{ new.title }}</h5>
    <p class="p-2 mb-1 bg-white text-dark">{{ new.text|striptags|linebreaks|truncatechars:200 }}</p>
      <div class="media">
            <div>
                <img src="{{ new.avtor.profile.img_profile.url }}" alt="{{ new.avtor }}" class="user_images">
            </div>
        <div class="mt-2">
            <span class="text-muted">Публикация: {{ new.date|date:"d E Y в H:i" }}</span>
            <p><b>Автор:</b> <a href="{% url 'user-news' new.avtor %}">{{ new.avtor }}</a></p>
        </div>
      </div>
  </div>
    <a href="{% url 'news-detail' new.id %}" class="btn btn-outline-info">Перейти</a>
</div>
{% endfor %}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="{% url 'home' %}" class="btn btn-outline-danger">Начало</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger"><b><<</b></a>
    {% endif %}

{% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
        <button class="btn btn-danger">{{ num }}</button>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-danger">{{ num }}</a>
    {% endif %}
{% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger"> <b>>></b> </a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-danger">Последняя</a>
    {% endif %}
{% endif %}

{% endblock %}

{% block aside_block %}
<h3 class="mt-2 mb-3">Интересные статьи</h3>
{% for new in news %}
<div class="card mb-3 " style="max-width: 300px;" >
  <img src="{{ new.img_article.url }}" class="card-img-top" alt="photo">
  <div class="card-body card-aside">
    <h5 class="card-title">{{ new.title }}</h5>
    <p class="card-text">{{ new.text|truncatechars:150 }}</p>
    <p class="card-text"><small class="text-muted">{{ new.date }}</small></p>
    <p class="card-text">Автор:
         {% if new.avtor %}{{ new.avtor }}
         {% else %} Admin
         {% endif %}
    </p>
  </div>
</div>
{% endfor %}
{% endblock %}
